* { /* apply to all elements */
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* make all elements have the same box model */
  scroll-behavior: smooth; 

}

a{ /* apply to all links */
  text-decoration: none; /* remove underline from links */
  color: #000; /* make links black */
}

table{
  table-layout: fixed; /* make table cells have the same width */
  width: 100%; /* make table 100% of the width of the page */
  border-collapse: collapse; /* remove space between cells */
  border: 3px solid purple;

}



tbody .td {
  font-family: "Rock Salt", cursive;

}